---
import { PROJECT_LIST, SITE } from '@config';
import Layout from '@layouts/Layout.astro';
import Main from '@layouts/Main.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import ProjectCard from '@components/projects/ProjectCard';
---

<Layout title={`Projects | ${SITE.title}`}>
  <Header activeNav="projects" />
  <Main pageTitle="Featured Projects" pageDesc="Projects I have done in teams">
    {
      PROJECT_LIST.map((project, idx) => (
        <ProjectCard index={idx} project={project} />
      ))
    }
  </Main>
  <Footer />
</Layout>
